@charset "utf-8";
@import url("/fonts/NotoSansKR.css");
@import url("/fonts/MaterialIcons.css");

/* css Reset */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;word-break:break-all;font-size:16px;transition:0.2s ease;}
@media all and (max-width:1024px){
	html{font-size:15px}
}
@media all and (max-width:768px){
	html{font-size:14px}
}
body{font-family:'Noto Sans KR','돋움','dotum', Arial, sans-serif;font-weight:500;line-height:1.4;color:#000;}
header, footer, main, section, article, nav, aside{display:block;box-sizing:border-box;}
*::before, *::after{-webkit-box-sizing:inherit; box-sizing:inherit;}
input,textarea,button,select,table,h1,h2,h3,h4,h5,h6{font-family:inherit;font-size:inherit;font-weight:initial;line-height:inherit;color:inherit;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,form,fieldset,legend,button,input,select,optgroup,textarea,label,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,strong{margin:0; padding:0; box-sizing:border-box;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}
sup{top:-0.5em}
ol,ul{list-style:none}
dt,dd{display:block}
img{max-width:100%;border:none;vertical-align:top}
fieldset{border:none}
input,button,select,textarea{box-sizing:border-box;}
/* select {appearance: none;} */
address,em,i{font-style:normal}
a {text-decoration:none; color:inherit;}

/* table */
table {margin:0;border-collapse:collapse;border-spacing:0;table-layout:fixed;}
.thL th,
.tdL td {text-align:left;}
.thC th,
.tdC td {text-align:center;}
.thR th,
.tdR td {text-align:right;}

/* hidden text */
caption,
legend,
.blind,
.hidden{position:absolute;width:1px;height:1px;margin:-1px;padding:0;border:0 none;overflow:hidden;clip:rect(0, 0, 0, 0);}

/* 바로가기 */
#skipNav a {z-index:100000;display:block;position:absolute;top:0;left:0;width:100%;height:1px;font-size:18px;overflow:hidden;text-align:center;text-decoration:none;}
#skipNav a:focus, 
#skipNav a:active {height:45px;line-height:45px;background:#222;color:#fff;}

/* 아이폰 손쉬운사용 대응 바로가기 (font-size와 line-height가 없으면 포커스가 가지 않는다.) */
#skipNav.iosMobile {position: absolute; clip: rect(0 0 0 0); width:1px; height:1px; margin:-1px; overflow:hidden;}
#skipNav.iosMobile a {line-height:1.25em;font-size:1.25em;}
#skipNav.iosMobile a:focus, 
#skipNav.iosMobile a:active {line-height:1.25em;}

/* Global space */
.tL {text-align:left !important;}
.tC {text-align:center !important;}
.tR {text-align:right !important;}
.vT {vertical-align:top !important;}
.vM{vertical-align:middle !important;}
.vB {vertical-align:bottom !important;}
.fL {float:left;}
.fR {float:right;}
.dB {display:block;}
.dIb {display:inline-block;}
.dN {display:none !important;}
.cB {clear:both;}
.wbKall {word-break:keep-all;word-wrap:break-word;}
.nowrap { white-space:nowrap; }
.ofHidden {overflow:hidden;}
.w100{width:100% !important;}
.w50{width:50% !important;}

.ma0 {margin:0 !important;}
.ma5 {margin:5px !important;}
.ma10 {margin:10px !important;}
.ma15 {margin:15px !important;}
.ma20 {margin:20px !important;}
.ma25 {margin:25px !important;}
.ma30 {margin:30px !important;}
.ma40 {margin:40px !important;}
.ma50 {margin:50px !important;}
.ma60 {margin:60px !important;}
.ma100 {margin:100px !important;}

.maT0 {margin-top:0 !important;}
.maT5 {margin-top:5px !important;}
.maT10 {margin-top:10px !important;}
.maT15 {margin-top:15px !important;}
.maT20 {margin-top:20px !important;}
.maT25 {margin-top:25px !important;}
.maT30 {margin-top:30px !important;}
.maT40 {margin-top:40px !important;}
.maT50 {margin-top:50px !important;}
.maT60 {margin-top:60px !important;}
.maT100 {margin-top:100px !important;}

.maR0 {margin-right:0 !important;}
.maR5 {margin-right:5px !important;}
.maR10 {margin-right:10px !important;}
.maR15 {margin-right:15px !important;}
.maR20 {margin-right:20px !important;}
.maR25 {margin-right:25px !important;}
.maR30 {margin-right:30px !important;}
.maR40 {margin-right:40px !important;}
.maR50 {margin-right:50px !important;}
.maR60 {margin-right:60px !important;}
.maR100 {margin-right:100px !important;}

.maB0 {margin-bottom:0 !important;}
.maB5 {margin-bottom:5px !important;}
.maB10 {margin-bottom:10px !important;}
.maB15 {margin-bottom:15px !important;}
.maB20 {margin-bottom:20px !important;}
.maB25 {margin-bottom:25px !important;}
.maB30 {margin-bottom:30px !important;}
.maB40 {margin-bottom:40px !important;}
.maB50 {margin-bottom:50px !important;}
.maB60 {margin-bottom:60px !important;}
.maB100 {margin-bottom:100px !important;}

.maL0 {margin-left:0 !important;}
.maL5 {margin-left:5px !important;}
.maL10 {margin-left:10px !important;}
.maL15 {margin-left:15px !important;}
.maL20 {margin-left:20px !important;}
.maL25 {margin-left:25px !important;}
.maL30 {margin-left:30px !important;}
.maL40 {margin-left:40px !important;}
.maL50 {margin-left:50px !important;}
.maL60 {margin-left:60px !important;}
.maL100 {margin-left:100px !important;}

.pa0 {padding:0 !important;}
.pa5 {padding:5px !important;}
.pa10 {padding:10px !important;}
.pa15 {padding:15px !important;}
.pa20 {padding:20px !important;}
.pa25 {padding:25px !important;}
.pa30 {padding:30px !important;}
.pa40 {padding:40px !important;}
.pa50 {padding:50px !important;}
.pa60 {padding:60px !important;}
.pa100 {padding:100px !important;}

.paT0 {padding-top:0 !important;}
.paT5 {padding-top:5px !important;}
.paT10 {padding-top:10px !important;}
.paT15 {padding-top:15px !important;}
.paT20 {padding-top:20px !important;}
.paT25 {padding-top:25px !important;}
.paT30 {padding-top:30px !important;}
.paT40 {padding-top:40px !important;}
.paT50 {padding-top:50px !important;}
.paT60 {padding-top:60px !important;}
.paT100 {padding-top:100px !important;}

.paR0 {padding-right:0 !important;}
.paR5 {padding-right:5px !important;}
.paR10 {padding-right:10px !important;}
.paR15 {padding-right:15px !important;}
.paR20 {padding-right:20px !important;}
.paR25 {padding-right:25px !important;}
.paR30 {padding-right:30px !important;}
.paR40 {padding-right:40px !important;}
.paR50 {padding-right:50px !important;}
.paR60 {padding-right:60px !important;}
.paR100 {padding-right:100px !important;}

.paB0 {padding-bottom:0 !important;}
.paB5 {padding-bottom:5px !important;}
.paB10 {padding-bottom:10px !important;}
.paB15 {padding-bottom:15px !important;}
.paB20 {padding-bottom:20px !important;}
.paB25 {padding-bottom:25px !important;}
.paB30 {padding-bottom:30px !important;}
.paB40 {padding-bottom:40px !important;}
.paB50 {padding-bottom:50px !important;}
.paB60 {padding-bottom:60px !important;}
.paB100 {padding-bottom:100px !important;}

.paL0 {padding-left:0 !important;}
.paL5 {padding-left:5px !important;}
.paL10 {padding-left:10px !important;}
.paL15 {padding-left:15px !important;}
.paL20 {padding-left:20px !important;}
.paL25 {padding-left:25px !important;}
.paL30 {padding-left:30px !important;}
.paL40 {padding-left:40px !important;}
.paL50 {padding-left:50px !important;}
.paL60 {padding-left:60px !important;}
.paL100 {padding-left:100px !important;}