:root {
    --transition:0.2s ease;
    --border:1px solid #b5b5b5;
    --borderColor:#b5b5b5;
}
html,body,#wrap {height:100%;overflow:hidden;}
#wrap {background:url(/images/texture.jpg) center / cover;display:flex;flex-direction:column;}
header {position:sticky;top:0;width:100%;display:flex;justify-content: center;background:rgba(255,255,255,0.6);transition:var(--transition);padding:10px 0;}
header:hover {background:rgba(255,255,255,1);}
nav {font-size:16px;}
nav ul {display:flex;gap:20px;}
nav ul a {display:block;padding:20px 30px;position:relative;transition:var(--transition);font-size:1.125em;}
nav ul a::before {content:'';position:absolute;width:0;height:2px;left:50%;bottom:10px;background:#E84343;transform:translateX(-50%);transition:var(--transition);}
nav ul a:hover::before {width:calc(100% - 40px);}

main {padding:30px;overflow:auto;}


